:root{
    /* font-family */
    --ff:"DM Sans", sans-serif;
    /* colors */
    --primary-color:white;
    --secondary-color:black;
    --tertiary-color:#9775fa;
    --quaternary-color:rgb(255, 224, 102);
    /* texts */
    --h1:700 48px/1.2px var(--ff);
    --h2:700 24px/1.2px var(--ff);
    --h3:500 18px/1.2px var(--ff);
    --h4:500 16px/1.2px var(--ff);
    --h5:550 16px/30.9px var(--ff);
    /* blobs */
    --shadow1: -1px -1px 0 var(--primary-color), 1px 1px 0 var(--secondary-color);
     /*cards  */
    --shadow2:-4px -4px 40 rgba(var(--primary-color),0.12), 4px 4px 4 rgba(var(--secondary-color),1);
    /* background */
    --bg:rgb(25,25,25);
    /* image cover */
    --cover: rgba(0,0,0,0.6);
    scroll-behavior: smooth;
}

svg{
    display: none;
}

body{
    font-family: var(--ff);
    padding: 0px;
    margin: 0px;
    background-color: var(--bg);
    scroll-snap-type: y mandatory;

}

.header{
    display:flex;
    background-color: rgba(0,0,0,0.2);
    align-items: center;
    height: 13vh;
    width: 100%;
    z-index: 1;
    border-bottom: 2px solid var(--quaternary-color);
    position: absolute;

    .navbar{
        display:flex;
        align-items: center;
        flex-direction: row;
        height: 100%;
        width: 100%;
        padding: 0 10px;

        .navbar-items{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            width: 30%;

            .button{
                display:flex;
                justify-content: center;
                align-items: center;
                color: var(--quaternary-color);
                font: var(--h3);
                padding: 10px 0;
                transition: all 0.1s ease-in-out;
            }

            .button:hover{
                border-bottom:3px solid var(--quaternary-color);
            }
        }

        .logo{
            display:flex;
            height: 50%;
            justify-content: center;
            align-items: center;
            color: var(--quaternary-color);
            font: var(--h2);
            border-bottom: 3px solid var(--quaternary-color);
            margin-right:auto;
        }

        a{
            text-decoration: none;
            color: var(--quaternary-color);
        }
    }
}

section{
    display:flex;
    background-color: var(--bg);
    height: 130vh;
    width: 100%;
    overflow: hidden;
    scroll-snap-align:start;
}

.bg-image-container{
    display:flex;
    position: relative;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    animation:silde 40s infinite ease-in-out;

    .bg-image{
        display: flex;
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        box-shadow:inset 0 0 0 2000px var(--cover);
        height: 100%;
        width: 100%;
        left: 5px;
    }

    .first{
        background-image: url('../img/1.jpg');
        left:0vw;
    }

    .second{
        background-image: url('../img/2.jpg');
        left: 1200vw;
    }

    .third{
        background-image: url('../img/3.jpg');
        left: 100vw;
    }

    .fourth{
        background-image: url('../img/4.jpg');
        left: 200vw;
    }

    .fifth{
        background-image: url('../img/5.jpg');
        left: 1000vw;
    }

    .sixth{
        background-image: url('../img/6.jpg');
        left: 300vw;
    }

    .seventh{
        background-image: url('../img/7.jpg');
        left:1100vw;
    }

    .eighth{
        background-image: url('../img/8.jpg');
        left: 400vw;
    }

    .ninth{
        background-image: url('../img/9.jpg');
        left: 500vw;
    }
}

@keyframes silde{
    0%{
        transform: translateX(0vw);
    }
    10%{
        transform: translateX(-100vw);
    }
    20%{
        transform: translateX(-200vw);
    }
    30%{
        transform: translateX(-300vw);
    }
    40%{
        transform: translateX(-400vw);
    }
    50%{
        transform: translateX(-500vw);
    }
    60%{
        transform: translateX(-400vw);
    }
    70%{
        transform: translateX(-300vw);
    }
    80%{
        transform: translateX(-200vw);
    }
    90%{
        transform: translateX(-100vw);
    }
    100%{
        transform: translateX(0vw);
    }
}

.break{
    height:30vh;
    width:100%;
    background-color: var(--bg);
} 

.bg{
    position: relative;

    .one{
        top:5vh;
        left:5vw;
        rotate: 45deg;
    }
    .two{
        top:20vh;
        left:86vw;
        rotate: 25deg;
    }
    .three{
        top:10vh;
        left:50vw;
        rotate:3deg;
    }
    .four{
        top:50vh;
        left:20vw;
        rotate:44deg;
    }
    .five{
        top:70vh;
        left:90vw;
        rotate:130deg;
    }
    .six{
        top:90vh;
        left:10vw;
        rotate: 160deg;
    }
    .seven{
        top:90vh;
        left:50vw;
        rotate: 186deg;
    }
    .eight{
        top:50vh;
        left:48vw;
        rotate: 110deg;
    }

    .nine{
        top:100vh;
        left:80vw;
        rotate: 90deg;
    }
}

.blob{
    display:flex;
    position: absolute;
    height: 23vh;
    width: 23vh;
    justify-content: space-between;
    align-items: center;
    filter: url('#blur-contrast');

    .blobs{
        display:flex;
        height: 13vh;
        width: 13vh;
        border-radius: 50%;
        box-shadow: var(--shadow1);
    }
    
    .yellow{
        background-color: var(--quaternary-color);
    }

    .violet{
        background-color: var(--tertiary-color);
    }
}

.bg-container{
    margin-left: 30vw;
    margin-top: 25vh;
    position: relative;
}

.bg-blob{
    --angle:60%;
    position: absolute;
    background-image: linear-gradient(135deg, var(--quaternary-color), var(--tertiary-color) 60%);
    height: 85vh;
    width: 85vh;
    border-radius: 56% 44% 43% 57% / 39% 64% 36% 61%;
    animation: spin-scale 30s infinite ease-in-out;
}

@keyframes spin-scale{
    0%{
        transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(180deg) scale(1.2);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
}

.blur{
    filter:blur(40px);
    opacity: 0.7;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    z-index: 1;
    padding: 0 5vw;

    .card{
        width:35vw;
        padding: 20px;
        color:var(--primary-color);
        font: var(--h5);
        border-radius: 20px;
        background-color: rgba(0,0,0,0.64);
        backdrop-filter: blur(35px);
    }

    .yellow{
        box-shadow:0 0 20px var(--quaternary-color);
    }

    .violet{
        box-shadow:0 0 25px var(--tertiary-color);
        align-self: flex-end;
    }
}

footer{
    display:flex;
    flex-direction: column;
    background-color:var(--secondary-color);
    height: clamp(200px,35vh,500px);
    width: 100%;
    border-top: 2px solid var(--tertiary-color);
    justify-content: center;
}

.footer-icons{
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top:auto;
    gap: 40px;
    
    svg{
        display: block;
        fill: var(--quaternary-color);  
    }

    svg:hover{
        animation: hop 0.4s ease-in-out;
    }
}

@keyframes hop{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}

.trademark{
    color: var(--quaternary-color);
    font: var(--h4);
    margin-left: 20px;
    margin-top: auto;
}

